// Use brand colour palette
@use '_palette' as *;

/*=============================================
  Base
=============================================*/

$bodyBackground: $brandWhite !default;


/*=============================================
  Header
=============================================*/

$headerBackground: $brandBlue !default;


/*=============================================
  Grid Layout
=============================================*/

$gridMaxWidth: 1440px !default;

$gridColumns: 4 !default;
$gridMargin: 16px !default;
$gridGutter: 24px !default;

$gridColumnsTablet: 8 !default;
$gridMarginTablet: 16px !default;
$gridGutterTablet: 24px !default;

$gridColumnsDesktop: 12 !default;
$gridMarginDesktop: 72px !default;
$gridGutterDesktop: 32px !default;


/*=============================================
  Media Query
=============================================*/

$breakpoints: (
  'mobile': 390px,
  'tablet': 768px,
  'desktop': 1024px,
  'large': 1440px
) !default;