@use 'sass:color';
@use '_palette' as *;


/*=============================================
  Base
=============================================*/

$bodyColour: $brandBlack !default;
$bodyColourInverse: $brandWhite !default;
$bodyBackground: $brandWhite !default;
$siteBorderRadius: 12px !default;


/*=============================================
  Typography Style
=============================================*/

$bodyFontFamily: "Inter", sans-serif !default;
$bodyFontWeight: 400 !default;
$bodyFontStyle: normal !default;
$bodyLetterSpacing: 0 !default;
$bodyTextTransform: none !default;
$bodyTextColor: $brandBlack !default;
$bodyTextColorInverse: $brandWhite !default;

$headingFontFamily: "Inter", sans-serif !default;
$headingFontWeight: 700 !default;
$headingFontStyle: normal !default;
$headingLetterSpacing: 0 !default;
$headingTextTransform: none !default;
$headingTextColor: $brandBlack !default;
$headingTextColorInverse: $brandWhite !default;

$subheadingFontFamily: "Inter", sans-serif !default;
$subheadingFontWeight: 500 !default;
$subheadingFontStyle: normal !default;
$subheadingLetterSpacing: 0 !default;
$subheadingTextTransform: none !default;
$subHeadingTextColor: color.adjust($brandBlack, $lightness: 40%) !default;
$subHeadingTextColorInverse: color.adjust($brandWhite, $lightness: -40%) !default;


/*=============================================
  Typography Sizing
=============================================*/

$baseFontSize: 16 !default; // no units applied as used for calculations

$bodyFontSize: 16px !default;
$bodyFontSizeDesktop: 18px !default;
$bodyLineHeight: 150% !default;
$bodyLineHeightDesktop: 150% !default;
$bodyMargin: 0 0 16px 0 !default;
$bodyMarginDesktop: 0 0 18px 0 !default;

$headingH1FontSize: 28px !default;
$headingH1FontSizeDesktop: 56px !default;
$headingH1LineHeight: 120% !default;
$headingH1LineHeightDesktop: 120% !default;
$headingH1Margin: 0 0 18px 0 !default;
$headingH1MarginDesktop: 0 0 24px 0 !default;

$headingH2FontSize: 24px !default;
$headingH2FontSizeDesktop: 48px !default;
$headingH2LineHeight: 125% !default;
$headingH2LineHeightDesktop: 125% !default;
$headingH2Margin: 0 0 18px 0 !default;
$headingH2MarginDesktop: 0 0 24px 0 !default;

$headingH3FontSize: 20px !default;
$headingH3FontSizeDesktop: 32px !default;
$headingH3LineHeight: 125% !default;
$headingH3LineHeightDesktop: 125% !default;
$headingH3Margin: 0 0 18px 0 !default;
$headingH3MarginDesktop: 0 0 24px 0 !default;

$headingH4FontSize: 18px !default;
$headingH4FontSizeDesktop: 24px !default;
$headingH4LineHeight: 125% !default;
$headingH4LineHeightDesktop: 125% !default;
$headingH4Margin: 0 0 18px 0 !default;
$headingH4MarginDesktop: 0 0 24px 0 !default;

$headingSubFontSize: 18px !default;
$headingSubFontSizeDesktop: 24px !default;
$headingSubLineHeight: 125% !default;
$headingSubLineHeightDesktop: 125% !default;
$headingSubMargin: 0 0 18px 0 !default;
$headingSubMarginDesktop: 0 0 24px 0 !default;


/*=============================================
  Header & Navigation
=============================================*/

$headerPaddingY: 8px !default;

$navTextColour: $brandWhite !default;
$navBackground: $brandBlack !default;
$navBorderColour: rgba($brandWhite, 0.5) !default;
$navBorderRadius: $siteBorderRadius !default;


/*=============================================
  Module
=============================================*/

$modulePadding: 60px 0 !default;
$modulePaddingSmall: 72px 0 !default;
$modulePaddingMedium: 96px 0 !default;
$modulePaddingLarge: 120px 0 !default;


/*=============================================
  Grid Layout
=============================================*/

$gridMaxWidth: 1440px !default; // Used by $breakpoints

$gridColumns: 2 !default;
$gridMargin: 16px !default;
$gridGutter: 18px !default;

$gridColumnsSmall: 6 !default;
$gridMarginSmall: 16px !default;
$gridGutterSmall: 24px !default;

$gridColumnsMedium: 12 !default;
$gridMarginMedium: 24px !default;
$gridGutterMedium: 24px !default;

$gridColumnsLarge: 12 !default;
$gridMarginLarge: 72px !default;
$gridGutterLarge: 32px !default;


/*=============================================
  Header
=============================================*/

$headerHeight: 86px !default;
$headerBackground: $brandBlue !default;
$headerLogoSpan: 1 !default;
$headerLogoSpanSmall: 2 !default;
$headerLogoSpanMedium: 3 !default;
$headerLogoSpanLarge: 3 !default;

/*=============================================
  Screen Breakpoints
=============================================*/

$breakpoints: (
  'small': 480px,
  'medium': 768px,
  'large': 1200px,
  'x-large': $gridMaxWidth
) !default;