
/*=============================================
  Brand Colour Palette
=============================================*/

// Brand Neutrals
$brandWhite: #FFFFFF;
$brandBlack: #000000;

// Brand Colours
$brandBlue: #000427;
$brandGreen: #0A2200;