@use 'theme' as *;
@use '../base/mixins' as *;


/*=============================================
  Card Group
=============================================*/

.card-group {

}

.card-group__grid {
  display: grid;
  grid-column: span $gridColumns;
  @include px(gap, $gridGutter);
  @include px(padding-top, 48px);

  @include mq(small, medium) {
    grid-column: span $gridColumnsSmall;
    @include px(gap, $gridGutterSmall);
  }

  @include mq(medium, large) {
    grid-column: span $gridColumnsMedium;
    @include px(gap, $gridGutterMedium);
  }

  @include mq(large) {
    grid-column: span $gridColumnsLarge;
    @include px(gap, $gridGutterLarge);
  }
}


/*=============================================
  Card Columns
=============================================*/

.card-group--cols-2 {
  .card-group__grid {
    grid-template-columns: repeat(1, 1fr);

    @include mq(small) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.card-group--cols-3 {
  .card-group__grid {
    grid-template-columns: repeat(1, 1fr);

    @include mq(small, medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq(medium) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.card-group--cols-4 {
  .card-group__grid {
    grid-template-columns: repeat(1, 1fr);

    @include mq(small, medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq(medium) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}



/*=============================================
  Card Display
=============================================*/

.card-group--display-cards {}