@use 'sass:math';
@use 'theme' as *;
@use '../base/mixins' as *;


/*=============================================
  Copy & Media
=============================================*/

.copy-media {
  margin: 0;

  .column {
    align-items: center;
  }
}

.copy-media__media {
  @include px(margin-bottom, 24px);

  @include mq(tablet) {
    margin-bottom: 0;
  }

  picture {
    @include aspect-ratio(768, 600);
    width: 100%;
    @include px(border-radius, 12px);
    overflow: hidden;

    @include mq(tablet) {
      @include aspect-ratio(1920, 1080);
    }
  }
}


/*=============================================
  Modifiers
=============================================*/

.module-width--50 {
  .copy-media__content,
  .copy-media__media {
    grid-column: span $gridColumns;

    @include mq(desktop) {
      grid-column: span math.div($gridColumnsDesktop, 2);
    }
  }
}

.module-width--66 {
  .copy-media__content {
    grid-column: span $gridColumns;

    @include mq(tablet, desktop) {
      grid-column: span math.div($gridColumnsTablet, 3);
    }

    @include mq(desktop) {
      grid-column: span math.div($gridColumnsDesktop, 3);
    }
  }

  .copy-media__media {
    grid-column: span $gridColumns;

    @include mq(tablet, desktop) {
      grid-column: span (math.div($gridColumnsTablet, 3) * 2);
    }

    @include mq(desktop) {
      grid-column: span (math.div($gridColumnsDesktop, 3) * 2);
    }
  }
}

.module-position--left {
  .copy-media__content {
    @include mq(tablet) {
      @include px(padding-left, 16px);
    }
  }

  .copy-media__media {
    @include mq(tablet) {
      @include px(padding-right, 16px);
      order: 0;
    }
  }
}

.module-position--right {
  .copy-media__content {
    @include mq(tablet) {
      @include px(padding-right, 16px);
    }
  }

  .copy-media__media {
    @include mq(tablet) {
      @include px(padding-left, 16px);
      order: 1;
    }
  }
}