@use 'sass:math';
@use 'theme' as *;
@use '../base/mixins' as *;


/*=============================================
  Module: Form
=============================================*/

.contact-form__header {
  @include px(margin-bottom, 32px);

  @include mq(medium) {
    @include px(margin-bottom, 40px);
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.contact-form__body {
  grid-column: span $gridColumns;

  @include mq(small, medium) {
    grid-column: span $gridColumnsSmall;
  }

  @include mq(medium, large) {
    grid-column: 2 / span ($gridColumnsMedium - 2);
  }

  @include mq(large) {
    grid-column: 3 / span ($gridColumnsLarge - 4);
  }
}

.contact-form__copy {
  @include px(margin-bottom, 24px);

  > :last-child {
    margin-bottom: 0;
  }
}

/*=============================================
  Alignment
=============================================*/

.module--align-centre {
  .contact-form__body {
    text-align: left;
  }

  .contact-form__actions {
    justify-content: center;
  }
}

.module--align-right {
  .contact-form__body {
    text-align: left;
  }

  .contact-form__actions {
    justify-content: flex-end;
  }
}
