@use 'theme' as *;
@use '../base/mixins' as *;


/*=============================================
  Homepage Hero
=============================================*/

.homepage-hero {
  margin: 0;
}

.homepage-hero__image {
  @include aspect-ratio(768, 432);
  width: 100%;
  @include px(margin-top, 24px);
  @include px(border-radius, 12px);
  overflow: hidden;

  @include mq(tablet) {
    @include aspect-ratio(1920, 1080);
    @include px(margin-top, 32px);
  }
}