@use 'theme' as *;
@use '../base/mixins' as *;


/*=============================================
  Body
=============================================*/

body {
  color: var(--bodyColour);
  background-color: var(--bodyBackground);
}

/*=============================================
  Column
=============================================*/

.column {
  position: relative;
  display: grid;
  margin: 0 auto;
  @include px(padding, 0 $gridMargin);
  width: 100%;
  grid-template-columns: repeat($gridColumns, 1fr);
  @include px(column-gap, $gridGutter);

  @include mq(small, medium) {
    @include px(padding, 0 $gridMarginSmall);
    grid-template-columns: repeat($gridColumnsSmall, 1fr);
    @include px(column-gap, $gridGutterSmall);
  }

  @include mq(medium, large) {
    @include px(padding, 0 $gridMarginMedium);
    grid-template-columns: repeat($gridColumnsMedium, 1fr);
    @include px(column-gap, $gridGutterMedium);
  }

  @include mq(large) {
    @include px(padding, 0 $gridMarginLarge);
    grid-template-columns: repeat($gridColumnsLarge, 1fr);
    @include px(column-gap, $gridGutterLarge);
  }
}