@use 'sass:color';
@use 'theme' as *;
@use '../base/mixins' as *;


/*=============================================
  Component: Button
=============================================*/

.btn {
  position: relative;
  @include flexbox($align: center, $gap: $buttonGap);
  @include px(padding, $buttonPadding);
  font-family: $buttonFontFamily;
  @include px(font-size, $buttonFontSize);
  line-height: $buttonLineHeight;
  font-weight: $buttonFontWeight;
  text-decoration: none;
  color: $buttonPrimaryColour;
  background-color: $buttonPrimaryBackgroundColour;
  border: 2px solid $buttonPrimaryBorderColour;
  @include px(border-radius, 8px);
  white-space: nowrap;
  @include transition(color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out);

  @include mq(medium) {
    @include px(gap, $buttonGapDesktop);
    @include px(padding, $buttonPaddingDesktop);
    @include px(font-size, $buttonFontSizeDesktop);
  }

  &:hover {
    background-color: color.adjust($bodyColour, $lightness: 25%);
    border-color: color.adjust($bodyColour, $lightness: 25%);
  }
}

.btn__icon {
  @include aspect-ratio(1, 1);
  @include px(width, 16px);

  @include mq(medium) {
    @include px(width, 18px);
  }

  svg {
    width: 100%;
    height: 100%;
    color: currentColor;
  }
}

/*=============================================
  Button Types
=============================================*/

.btn--secondary {
  color: $buttonSecondaryColour;
  background-color: $buttonSecondaryBackgroundColour;
  border-color: $buttonSecondaryBorderColour;

  &:hover {
    color: $bodyColourInverse;
    background-color: color.adjust($bodyColour, $lightness: 25%);
    border-color: color.adjust($bodyColour, $lightness: 25%);
  }
}

.btn--ghost {
  color: $buttonGhostColour;
  background-color: $buttonGhostBackgroundColour;
  border-color: $buttonGhostBorderColour;

  &:hover {
    color: $bodyColourInverse;
    background-color: color.adjust($bodyColour, $lightness: 25%);
    border-color: color.adjust($bodyColour, $lightness: 25%);
  }
}

/*=============================================
  Button Container
=============================================*/

.btn__container {
  @include flexbox($align: center, $wrap: wrap, $gap: 18px);
  @include px(margin, 48px 0 0 0);
}
