@use 'sass:math';
@use 'theme' as *;
@use '../base/mixins' as *;


/*=============================================
  Navigation
=============================================*/

$animationDuration: 0.25s;
$animationEasing: ease-in-out;
$triggerSize: 38px;
$colourTransition: color $animationDuration $animationEasing;
$widthTransition: width $animationDuration $animationEasing;
$heightTransition: height $animationDuration $animationEasing;
$opacityTransition: opacity $animationDuration $animationEasing;
$clipPathTransition: clip-path $animationDuration $animationEasing;

.nav {
  position: absolute;
  @include px(inset, math.div($gridMargin, 2));
  width: calc(100% - $gridMargin);
  padding: 0;
  transition: $colourTransition;

  @include mq(medium) {
    position: relative;
    inset: unset;
    width: 100%;
  }
}

.nav__inner {
  position: static;
  margin-left: auto;
  width: 100%;
  height: 100%;
  color: currentColor;
  background: $navBackground;
  @include px(border-radius, $navBorderRadius);
  opacity: 0;
  overflow: hidden;
  transition: $widthTransition, $heightTransition, $opacityTransition;

  @include mq(medium) {
    width: 100%;
    height: auto;
    opacity: 1;
  }
}

.nav__wrapper {
  position: absolute;
  @include px(padding, 70px 0 24px 0);
  width: 100%;
  right: 0;
  opacity: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  transition: $opacityTransition, $clipPathTransition;

  @include mq(medium) {
    position: relative;
    opacity: 1;
    clip-path: none;
  }
}

.nav__menu,
.nav__sub-menu,
.nav__sub-sub-menu {
  position: relative;
  @include flexbox($direction: column, $justify: flex-end);
  margin: 0;
  @include px(padding, 0 0 32px 0);
  list-style: none;
}

.nav__menu {
  @include mq(medium) {
    flex-direction: row;
    padding: 0;
  }
}

.nav__sub-menu {
  .nav__item {
    padding-right: 0;
  }

  .nav__item-link {
    @include px(padding, 6px 0);
    @include px(font-size, 18px);
  }
}

.nav__sub-sub-menu {
  .nav__item {
    padding-right: 0;
  }

  .nav__item-link {
    @include px(padding, 6px 0);
    @include px(font-size, 16px);
  }
}


/*=============================================
  Navigation Item
=============================================*/

.nav__item {
  @include flexbox($align: center, $justify: space-between, $wrap: wrap);
  margin: 0;
  @include px(padding, 0 math.div($gridMargin, 2) 0 16px);
}

.nav__item-link {
  position: relative;
  @include flexbox($align: center);
  @include px(padding, 4px 0);
  font-family: $headingFontFamily;
  @include px(font-size, 24px);
  line-height: 150%;
  font-weight: 400;
  text-decoration: none;
  color: currentColor;
}


/*=============================================
  Navigation Dropdown
=============================================*/

.nav__dropdown {
  position: relative;
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: $heightTransition, $opacityTransition;
}

.nav__dropdown--mega {
  .nav__dropdown-wrapper {
    @include px(padding, 0 0 32px 0);
  }

  .nav__sub-menu {
    padding: 0;
  }
}


/*=============================================
  Navigation Trigger
=============================================*/

.nav__trigger,
.nav__sub-trigger {
  position: relative;
  @include px(width, $triggerSize);
  @include px(height, $triggerSize);
  color: currentColor;
  background: transparent;
  border: 0;
  z-index: 100;
  cursor: pointer;
  transition: $colourTransition;

  svg {
    width: 100%;
    height: 100%;
  }
}

.nav__trigger {
  @include px(padding, 6px);
  order: 2;

  svg {
    > * {
      transform-origin: center;
      transition: all $animationDuration $animationEasing;
    }
  }

  @include hover {
    svg {
      .nav__trigger-icon-dash-top,
      .nav__trigger-icon-dash-bottom {
        width: 4px !important;
      }

      .nav__trigger-icon-dot-top,
      .nav__trigger-icon-dot-bottom {
        width: 26px !important;
      }

      .nav__trigger-icon-dash-bottom {
        x: 32px !important;
      }

      .nav__trigger-icon-dot-top {
        x: 10px !important;
      }

      .nav__trigger-icon-dot-bottom {
        x: 2px !important;
      }
    }
  }
}

.nav__sub-trigger {
  @include px(padding, 8px);

  svg {
    transform: rotate(45deg);
    transform-origin: center;
    transition: all $animationDuration $animationEasing;
  }

  &[aria-expanded="true"] {
    svg {
      transform: rotate(-45deg);
    }
  }
}


/*=============================================
  Navigation Open
=============================================*/

[data-nav-open] {
  .nav,
  .nav__trigger {
    color: $navTextColour;
  }

  .nav__trigger svg {
    .nav__trigger-icon-dash-top,
    .nav__trigger-icon-dash-bottom {
      width: 34px !important;
    }

    .nav__trigger-icon-dot-top,
    .nav__trigger-icon-dot-bottom {
      width: 4px !important;
    }

    .nav__trigger-icon-dash-top {
      transform: rotate(-45deg) translateY(11px);
    }

    .nav__trigger-icon-dash-middle {
      opacity: 0;
      transform: scaleX(0.5);
    }

    .nav__trigger-icon-dash-bottom {
      x: 2px !important;
      transform: rotate(45deg) translateY(-11px);
    }

    .nav__trigger-icon-dot-top {
      x: 32px !important;
      transform: translateY(11px);
    }

    .nav__trigger-icon-dot-bottom {
      transform: translateY(-11px);
    }
  }

  .nav__inner {
    height: var(--nav-height, auto);
    opacity: 1;
    transition: $opacityTransition, $widthTransition, $heightTransition;
  }

  .nav__wrapper {
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: $opacityTransition, $clipPathTransition;
  }
}

.nav__dropdown[data-dropdown-open] {
  height: var(--dropdown-height, auto);
  opacity: 1;
}