@use 'sass:math';
@use 'theme' as *;
@use '../base/mixins' as *;


/*=============================================
  Navigation
=============================================*/

$animationDuration: 0.25s;
$animationEasing: ease-in-out;
$triggerSize: 38px;
$colourTransition: color $animationDuration $animationEasing;
$widthTransition: width $animationDuration $animationEasing;
$heightTransition: height $animationDuration $animationEasing;
$opacityTransition: opacity $animationDuration $animationEasing;
$clipPathTransition: clip-path $animationDuration $animationEasing;

.nav {
  position: absolute;
  @include px(inset, math.div($gridMargin, 2));
  width: calc(100% - $gridMargin);
  padding: 0;
  transition: $colourTransition;

  @include mq(medium) {
    @include px(inset, math.div($gridMargin, 2) * -1);
    left: auto;
    width: calc(100% + $gridMargin);
    @include px(max-width, 500px);
  }
}

.nav__inner {
  position: static;
  margin-left: auto;
  @include px(width, $triggerSize + $gridMargin);
  height: 100%;
  color: currentColor;
  background: $navBackground;
  @include px(border-radius, $navBorderRadius);
  opacity: 0;
  overflow: hidden;
  transition: $widthTransition $animationDuration, $heightTransition, $opacityTransition $animationDuration;
}

.nav__wrapper {
  position: absolute;
  @include px(padding, 70px 0 24px 0);
  width: 100%;
  right: 0;
  opacity: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  transition: $opacityTransition, $clipPathTransition;
}

.nav__list {
  @include px(padding, 0 0 32px 0);
}

.nav__links {
  @include px(padding, 32px 0 0 0);
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    @include px(left, $gridMargin);
    width: calc(100% - ($gridMargin * 2));
    @include px(height, 1px);
    background-color: $navBorderColour;
  }
}

.nav__list,
.nav__links {
  position: relative;
  @include flexbox($direction: column, $justify: flex-end);
  margin: 0;
  list-style: none;
}


/*=============================================
  Navigation Trigger
=============================================*/

.nav-trigger {
  position: relative;
  @include px(padding, 6px);
  @include px(width, $triggerSize);
  @include px(height, $triggerSize);
  color: currentColor;
  background: transparent;
  border: 0;
  z-index: 100;
  cursor: pointer;
  transition: $colourTransition;

  svg {
    width: 100%;
    height: 100%;

    > * {
      transform-origin: center;
      transition: all $animationDuration $animationEasing;
    }
  }

  @include hover {
    svg {
      .nav-trigger__icon-dash-top,
      .nav-trigger__icon-dash-bottom {
        width: 4px !important;
      }

      .nav-trigger__icon-dot-top,
      .nav-trigger__icon-dot-bottom {
        width: 26px !important;
      }

      .nav-trigger__icon-dash-bottom {
        x: 32px !important;
      }

      .nav-trigger__icon-dot-top {
        x: 10px !important;
      }

      .nav-trigger__icon-dot-bottom {
        x: 2px !important;
      }
    }
  }
}


/*=============================================
  Navigation Item
=============================================*/

.nav-item {
  margin: 0;
  @include px(padding, 0 16px);
}

.nav-item__link {
  position: relative;
  @include flexbox($align: center);
  @include px(padding, 4px 0);
  font-family: $headingFontFamily;
  @include px(font-size, 24px);
  line-height: 150%;
  font-weight: 400;
  text-decoration: none;
  color: currentColor;
  transition: color 0.3s ease-in-out;
}


/*=============================================
  Navigation Link Item
=============================================*/

.nav-link {
  margin: 0;
  @include px(padding, 0 16px);
  @include px(font-size, 16px);
  line-height: 150%;
  font-weight: 400;

  &--heading {
    @include px(padding, 4px 16px);
    opacity: 0.5;
  }
}

.nav-link__link {
  position: relative;
  @include flexbox($align: center);
  @include px(padding, 2px 0);
  text-decoration: none;
  color: currentColor;
}


/*=============================================
  Navigation Open
=============================================*/

[data-nav-open] {
  .nav,
  .nav-trigger {
    color: $navTextColour;
  }

  .nav-trigger svg {
    .nav-trigger__icon-dash-top,
    .nav-trigger__icon-dash-bottom {
      width: 34px !important;
    }

    .nav-trigger__icon-dot-top,
    .nav-trigger__icon-dot-bottom {
      width: 4px !important;
    }

    .nav-trigger__icon-dash-top {
      transform: rotate(-45deg) translateY(11px);
    }

    .nav-trigger__icon-dash-middle {
      opacity: 0;
      transform: scaleX(0.5);
    }

    .nav-trigger__icon-dash-bottom {
      x: 2px !important;
      transform: rotate(45deg) translateY(-11px);
    }

    .nav-trigger__icon-dot-top {
      x: 32px !important;
      transform: translateY(11px);
    }

    .nav-trigger__icon-dot-bottom {
      transform: translateY(-11px);
    }
  }

  .nav__inner {
    width: var(--nav-width, 100%);
    height: var(--nav-height, auto);
    opacity: 1;
    transition: $opacityTransition, $widthTransition, $heightTransition $animationDuration;
  }

  .nav__wrapper {
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: $opacityTransition $animationDuration, $clipPathTransition $animationDuration;
  }
}