@use 'theme' as *;
@use '../base/mixins' as *;


/*=============================================
  Component: Parallax
=============================================*/

picture[data-speed] {
  width: 100%;
  height: 125%;
}