@use 'theme' as *;
@use '../base/mixins' as *;


/*=============================================
  Header
=============================================*/

$headerLogoSpan: 2;

.header {
  position: fixed;
  top: 0;
  @include px(padding, $gridMargin 0);
  width: 100%;
  z-index: 1000;

  .column {
    position: static;
    align-items: center;
  }
}

.header-logo {
  grid-column: span $headerLogoSpan;
}

.header-logo__logo {
  display: block;
  @include px(max-width, 148px);
}

.header-nav {
  grid-column: span ($gridColumns - $headerLogoSpan);
  @include flexbox($justify: flex-end);
  padding: 0;

  @include mq(tablet, desktop) {
    grid-column: span ($gridColumnsTablet - $headerLogoSpan);
  }

  @include mq(desktop) {
    grid-column: span ($gridColumnsDesktop - $headerLogoSpan);
  }
}