@use 'theme' as *;
@use '../base/mixins' as *;


/*=============================================
  Header
=============================================*/

.header {
  position: fixed;
  @include flexbox($align: center);
  top: 0;
  @include px(padding, $gridMargin 0);
  width: 100%;
  @include px(height, $headerHeight);
  z-index: 1000;

  .column {
    position: static;
    align-items: center;
  }
}

.header__logo {
  grid-column: span $headerLogoSpan;

  @include mq(small, medium) {
    grid-column: span $headerLogoSpanSmall;
  }

  @include mq(medium, large) {
    grid-column: span $headerLogoSpanMedium;
  }

  @include mq(large) {
    grid-column: span $headerLogoSpanLarge;
  }
}

.header__logo-link {
  display: block;
  @include px(max-width, 164px);
}

.header__nav {
  grid-column: span ($gridColumns - $headerLogoSpan);
  @include flexbox($align: center, $justify: flex-end, $gap: 18px);
  padding: 0;

  @include mq(small, medium) {
    grid-column: span ($gridColumnsSmall - $headerLogoSpanSmall);
  }

  @include mq(medium, large) {
    grid-column: span ($gridColumnsMedium - $headerLogoSpanMedium);
  }

  @include mq(medium) {
    grid-column: span ($gridColumnsLarge - $headerLogoSpanLarge);
    position: relative;
  }
}