@use 'theme' as *;
@use '../base/mixins' as *;


/*=============================================
  Body
=============================================*/

body {
  color: var(--bodyColour);
  background-color: var(--bodyBackground);
}


/*=============================================
  Module
=============================================*/

.module {
  @include px(padding, $modulePadding);
  overflow: hidden;

  @include mq(small, medium) {
    @include px(padding, $modulePaddingSmall);
  }

  @include mq(medium, large) {
    @include px(padding, $modulePaddingMedium);
  }

  @include mq(large) {
    @include px(padding, $modulePaddingLarge);
  }
}

.module__text {
  grid-column: span $gridColumns;

  @include mq(small, medium) {
    grid-column: span $gridColumnsSmall;
  }

  @include mq(medium, large) {
    grid-column: span ($gridColumnsMedium - 2);
  }

  @include mq(large) {
    grid-column: span ($gridColumnsLarge - 3);
  }
}

.module__copy {
  > :last-child {
    margin-bottom: 0;
  }
}

.module__fullwidth {
  grid-column: span $gridColumns;

  @include mq(small, medium) {
    grid-column: span $gridColumnsSmall;
  }

  @include mq(medium, large) {
    grid-column: span $gridColumnsMedium;
  }

  @include mq(large) {
    grid-column: span $gridColumnsLarge;
  }
}


/*=============================================
  Column
=============================================*/

.column {
  position: relative;
  display: grid;
  margin: 0 auto;
  @include px(padding, 0 $gridMargin);
  width: 100%;
  @include px(max-width, $gridMaxWidth);
  grid-template-columns: repeat($gridColumns, 1fr);
  @include px(column-gap, $gridGutter);

  @include mq(small, medium) {
    @include px(padding, 0 $gridMarginSmall);
    grid-template-columns: repeat($gridColumnsSmall, 1fr);
    @include px(column-gap, $gridGutterSmall);
  }

  @include mq(medium, large) {
    @include px(padding, 0 $gridMarginMedium);
    grid-template-columns: repeat($gridColumnsMedium, 1fr);
    @include px(column-gap, $gridGutterMedium);
  }

  @include mq(large) {
    @include px(padding, 0 $gridMarginLarge);
    grid-template-columns: repeat($gridColumnsLarge, 1fr);
    @include px(column-gap, $gridGutterLarge);
  }
}